.left-container-form {
    background-color: gray;
    width: 55%;
    height: 90%;
    color: black;
}

.left-container-form-heading {
    padding: 4%;
}

.left-container-form-body {
    position: relative;
    margin: 0 0 0 2%;
}

.left-container-form-element-heading {
    padding: 4%;
}

.left-container-form-input {
    position: relative;
    z-index: 2;
    padding: 4%;
}

.left-container-form-validation-mess {
    display: none;
    position: relative;
    z-index: 4;
    padding: 4%;
    background-color: brown;
}

.left-container-form-validation-mess-valid {
    display: none;
}

.left-container-form-validation-mess-inValid {
    display: flex;
}

.left-container-form-btn {
    position: relative;
    z-index: 2;
}