@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Medula+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*  

font-family: 'Medula One', cursive;
font-family: 'Oswald', sans-serif;
font-family: "Oswald - Semi Bold";
font-family: "Bebas Neue";

 */

* {
    margin: 0;
    padding: 0;
}

.grand-container {
    background-image: url("../img/bacground.png");
    width: 100vw;
    height: 100vh;
    background-color: #010101;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: beige;
}

.left-container {
    width: 45%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu-list {
    width: 95%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
}

.logo-must-container {
    display: flex;
    flex-direction: row;
}

.logo-must {
    background-image: url("/assets/img/2023997.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 30px;
}

.logo-must-text {
    color: #f2b541;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 2px;
    font-family: 'Medula One';
    margin-left: 5%;
}

.menu-elements {
    font-family: "Bebas Neue";
}

.menu-elements-link {
    text-decoration: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 999;
}

.logo-container {
    width: 95%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 70px;
    margin-top: -9.6%;
}

.logo-header {
    color: #f2b541;
    font-family: "Medula One";
    text-align: center;
    font-size: 77px;
}

.logo-footer {
    color: #f2b541;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.logo-footer_lines {
    z-index: 10;
    color: #f2b541;
    font-weight: 900;
    padding: 0 5% 13% 5%;
}

.logo-footer_p {
    z-index: 10;
    font-family: 'Oswald', sans-serif;
}

.information-container {
    background-image: url("../img/bacground.png");
    background-color: #925d0d;
    width: 55%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 6px solid #f2b541;
    margin-top: 5%;
}

.header-information-container {
    width: 80%;
    height: 10%;
    padding-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Oswald;
    font-size: 35px;
    letter-spacing: 3px;
}

.content-information-container {
    width: 68%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Bebas Neue";
    font-size: 20px;
    text-align: center;
}

.button-information-container {
    width: 80%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    font-family: Oswald;
    font-size: 20px;
}

.button-information {
    width: 48%;
    background: none;
    outline: none;
    border: none;
    font-size: 18px;
    color: #f2b541;
    font-family: "Oswald";
    font-weight: 900;
    letter-spacing: 1px;
}

.button-information:hover {
    background-color: #f2b541;
    color: #77541f;
}

.links-container {
    width: 95%;
    height: 10%;
}

.links-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style: none;
}

.links-elements {
    margin: 0 2% 0 2%;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95%;
    width: 25px;
    height: 25px;
    padding-top: 10%;
}

.link-elements-link {
    margin: 3% 2% 0 2%;
}

.links-elements-fb {
    background-image: url("../img/Facebook.svg");
    background-size: 47%;
}

.links-elements-inst {
    background-image: url("../img/Instagram.svg");
}

.links-elements-twit {
    background-image: url("../img/Twitter.svg");
}

.right-container {
    width: 45%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-content-container {
    background-image: url("../img/Fotobarbershop/TitleFoto.jpg");
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;
    width: 75%;
    height: 87%;
    border: 20px solid #88714d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-container {
    position: relative;
    left: -52.8%;
    display: flex;
    border-radius: 50%;
    width: 25%;
    height: 22%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tagline {
    font-family: "Medula One";
    color: #E1E0E0;
    font-size: 26px;
    letter-spacing: 2px;
}

.menu-elements-link:hover {
    border-bottom: 2px solid white;
}

.active-menu {
    border-bottom: 2px solid #f2b541;
}

.button-information-gallery {
    text-align: center;
    text-decoration: none;
}